
<%- include("partials/header"); -%>

<div
class="look"
style="
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
  
"
>
    
</div>
    <div class="card text-center position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item " >
              <a class="nav-link " id="ss1" href="/">To day</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" id="ss2" href="/work">Work</a>
            </li>
            <li class="nav-item " >
              <a class="nav-link " id="ss3" href="/exercise">Exercise</a>
            </li>
            <li>
                <p class="text-info col-sm-right mytask">Just <%= tofinish %> </p>
            </li>
            
          </ul>
        </div>
        <div class="card-body">
            
          <h1 class="card-title text-success"><%= Date%></h1>
         
          <p class="">  <% itemLoop.forEach((items)=>{ %>
            <form action="/delete" method="post">
                <div class="form-check">
                    <input class="form-check-input nav-item shadow-lg rounded border border-success fs-2" type="checkbox" value="<%= items.task %>" name="delete" id="flexCheckChecked" onchange="this.form.submit()">
                    <label class="form-check-label fs-2 text-capitalize" for="flexCheckChecked">
                        <%= items.task %>
                    </label>
                    <input type="hidden" name="checkboxList" value="<%= Date %>">
                  </div>
                </form>

           <% }) %>
           <form action="/" method="post">
            <input type="text" name="newTask" autocomplete="off" class="form-outline mytext" placeholder="Add New task" >
            
            <button id="addbutton" class="mybutton shadow p-3 mb-5 float-sm-bottom" type="submit" value="<%= Date %>" name="findTheList">+</button>
          
           </form>
        </p>
        </div>
        <div class="card-footer text-muted"> "What you do today can improve all your tomorrows." – Ralph Marston
            <p>&copy; 2025 Nuwan. All rights reserved.</p>
        </div>
        </div>
      
    
    <%- include("partials/footer"); -%>
    